:root{
    --marelo: #FFEA20;
    --azul: #8DCBE6;
    --verde: #9DF1DF;
    --azulinho: #E3F6FF;
    --preto:#000;
    --branco: #fff;
}

.bg-azul{
    background-color: var(--azul);
}
.bg-marelo{
    background-color: var(--marelo);
}
.bg-azulinho{
    background-color: var(--azulinho);
}
.bg-preto{
    background-color: var(--preto);
}
.bg-branco{
    background-color: var(--branco);
}
.bg-verde{
    background-color: var(--verde);
}
nav{
    background-color: var(--preto);
}
.nav-link{
    color: var(--azul);
    font-size: 17px;
}
.navbar-brand img{
    height: 300px;
    width: 300px;
}

.gradient1{
    height: 20vh;
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 0%, #000000 17%, #8DCBE6 100%);
}

main{
    background-color: var(--azul);
}
.nav-link:hover{
    transition: 0.3s;
    color: var(--branco);
}

.div-azul{
    background-color: var(--azul);
    margin: 0 auto;
}

.gradient-cs-aoe{
    height: 15vh;
    background-color: #8dcbe6;
    background-image: linear-gradient(180deg, #8dcbe6 0%, #8dcbe6 32%, #e3f6ff 100%);
    
}
.gradient-aoe-bg{
    height: 15vh;
    background-color: #e3f6ff;
    background-image: linear-gradient(180deg, #e3f6ff 0%, #e3f6ff 32%, #ffea20 100%);


}

.div-azulinho{
    background: var(--azulinho);
    margin: 0 auto;

}
.div-amarelo{
    background: var(--marelo);
    margin: 0 auto;
}
.titulo{
    font-weight: 400;
    min-width: 220px;
}

.h-yt{
    font-size:26px;
    font-weight: 350;
}

p{
    font-size: 20px;
    line-height: 5vh;
}

.gradient2{
    height: 20vh;
    background-color: #ffea20;
    background-image: linear-gradient(180deg, #ffea20 0%, #ffea20 45%, #000000 100%);

}


footer hr{
    color: var(--marelo);
    margin: 0 10vh 0 10vh;
}

.footer-end{
    background-color: var(--preto);
    padding-bottom: 9vh;
     
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
    height: 8vh;
    padding-top: 2vh ;
    margin-top: 5vh;
}

footer ul li a{ 
    text-decoration: none;
    color: var(--marelo)

}
footer ul li a:hover{
    transition: 0.3s;
    color: var(--branco);
}
.endereço li p{
    color: var(--marelo);
    font-size: 16px;
}
